
AlzStudy/AlzStudy.xcodeproj/xcuserdata/andreid.xcuserdatad/xcschemes/xcschememanagement.plist
AlzStudy/AlzStudy.xcodeproj/xcuserdata/andreid.xcuserdatad/xcschemes/xcschememanagement.plist
AlzStudy/AlzStudy.xcworkspace/xcuserdata/andreid.xcuserdatad/UserInterfaceState.xcuserstate
AlzStudy/AlzStudy.xcworkspace/xcuserdata/andreid.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
AlzStudy/Pods/Pods.xcodeproj/xcuserdata/andreid.xcuserdatad/xcschemes/xcschememanagement.plist
AlzStudy/AlzStudy.xcworkspace/xcuserdata/andreid.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
AlzStudy/AlzStudy.xcworkspace/xcuserdata/andreid.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
AlzStudy/AlzStudy.xcworkspace/xcuserdata/andreid.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
AlzStudy/AlzStudy.xcodeproj/xcuserdata/andreid.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcbkptlist
AlzStudy/AlzStudy.xcodeproj/xcuserdata/andreid.xcuserdatad/xcschemes/xcschememanagement.plist
AlzStudy/AlzStudy.xcworkspace/xcuserdata/andreid.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
AlzStudy/AlzStudy.xcworkspace/xcuserdata/andreid.xcuserdatad/UserInterfaceState.xcuserstate
