<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>439078901921-n41efj2sls03e3uljica8nec0hmqs7de.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439078901921-n41efj2sls03e3uljica8nec0hmqs7de</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ_CA03rBd1ybpdkjPElSyYznTSluqrqA</string>
	<key>GCM_SENDER_ID</key>
	<string>439078901921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>andid.AlzStudy</string>
	<key>PROJECT_ID</key>
	<string>alzstudy-9a121</string>
	<key>STORAGE_BUCKET</key>
	<string>alzstudy-9a121.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439078901921:ios:28d3206a28073bb9</string>
	<key>DATABASE_URL</key>
	<string>https://alzstudy-9a121.firebaseio.com</string>
</dict>
</plist>